* {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;

}

#datetime {
	padding-left: .5rem;

}



.wall {
  width: 100%;
  height: calc(100vh);
  background-image: url('../images/water_gif_big.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f2f2f2;
}

.mapback{
    width: 100%;
    height: calc(100vh);
    background-image: url('../images/rectangle64.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.fit {

  height: auto;
}

header p {

  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;

}

section h1 {

  display: block;
  margin: 0 auto;
  font-family: Arnhem Pro;
  text-align: center;
  padding: 20px 0;
  line-height: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


img {
  display: block;
  margin: 0 auto;



}

/* Google map */

.map {
	width:100%;
	height:35em;
}

.container {

  height: 125px;
  background-color: #10F6CD;

}

.container1 {

  background-color: #10F6CD;


}

.popuptext {
  width: 70%;
  margin: 0 auto;
  background-color: #10F6CD;
  height: 355px;
  position: relative;
  top: -450px;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.centre {
  padding-top: 30px;
  text-align: center;
}

.italic {

	font-style: italic;
}


.italic1 {

	font-style: italic;
  padding-left: 5rem;
}

.italic2 {

	font-style: italic;
  padding-left: 6rem;
}

.tap {
	padding-top: 22rem;
	display: flex;
	justify-content: center;
	 color: #f2f2f2;
}

.tap1 {
	font-style: italic;
	padding-left: .5rem;
	padding-right: .5rem;
	 color: #f2f2f2;
}

.tap a {
		 color: #f2f2f2;
}

/*Onboarding1 page styles */



.on1  {
	font-family: Arnhem Pro;
	font-weight: normal;
	font-size: 44px;
	line-height: 50px;
	color: #594950;
	padding-left: 20%;

}

.on1a  {
	font-family: Arnhem Pro;
	font-weight: normal;
	font-size: 44px;
	line-height: 50px;
	color: #24BA80;
	padding-left: 10%;
  padding-bottom: 15%;

}

.push {
  padding-left: 10%;

}

.on1b {
  color: #247E80;
}

.on2  p {
	font-family: Arnhem Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 44px;
	line-height: 50px;
	color: #594950;
	padding-left: 40%;
}

.on3 img {

	padding-top: 2rem;
  padding-bottom: 4rem;

}



.on4 {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
	line-height: 1.3rem;
	font-feature-settings: 'ss01' on, 'ss02' on;
}


.on5 {

  padding-top: 3rem;
  padding-bottom: 3rem;
}


.on6 {
  display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
	text-align: center;
	line-height: 1.3rem;
	font-feature-settings: 'ss01' on, 'ss02' on;
  padding-top: 30rem;


}

.time {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.02em;
	color: #000000;
}

.tap3 {

	padding-top: 2rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;

}

.tap3a {

	padding-top: 4rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;

}

.tap3 a {

	 color: #3D3C3E;
}

.tap3a a {

	 color: #3D3C3E;
}


.tap1a {
	 font-style: italic;
	 padding-left: .5rem;
	 padding-right: .5rem;
     color: #3D3C3E;
	 line-height: 20px;

}

.symbol {
	align-items: center;
	display: flex;
	justify-content: center;
}

.symbol img {
	padding-right: 1.5rem;
}

.bold {
	font-weight: bold;
}


/*CSS for virtual keyboard*/

.use-keyboard-input {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 25px;
  border: 1px solid #594950;
  padding: 5px;
  background-color: #F9FBF2;

}

.box {
  display: block;
  margin: auto;
  width: 60%;
  color: white;
  border-radius: 25px;
  border: 1px solid #594950;
  padding: 5px;
  background-color: black;
  text-align: center;


}



.keyboard {
  position: fixed;
  left: 0;
  bottom: -300px;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  user-select: none;
  transition: bottom 0.4s;

}

.keyboard--hidden {
  bottom: -100%
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;

}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);

}


@media only screen and (min-width: 1000px) {

  * {

  font-size: 1.5rem;

}

section p {

    line-height: 2rem;

}

.keyboard {
  bottom: 0;
}

.on1 {

  margin: auto;
  width: 50%;
}

}
